@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gill Sans';
        src: url('../assets/fonts/gill-sans/GillSans.woff2') format('woff2'),
            url('../assets/fonts/gill-sans/GillSans.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gill Sans';
        src: url('../assets/fonts/gill-sans/GillSans-Medium.woff2')
                format('woff2'),
            url('../assets/fonts/gill-sans/GillSans-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gill Sans';
        src: url('../assets/fonts/gill-sans/GillSans-Bold.woff2')
                format('woff2'),
            url('../assets/fonts/gill-sans/GillSans-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gill Sans';
        src: url('../assets/fonts/gill-sans/GillSans-Light.woff2')
                format('woff2'),
            url('../assets/fonts/gill-sans/GillSans-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gill Sans';
        src: url('../assets/fonts/gill-sans/GillSans-Heavy.woff2')
                format('woff2'),
            url('../assets/fonts/gill-sans/GillSans-Heavy.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    html {
        @apply font-primary scroll-smooth;
    }

    .solid-button {
        @apply bg-light-green py-2 px-5 flex justify-center items-center text-dark-green uppercase font-semibold rounded-[10px];
    }

    .solid-button-dark {
        @apply bg-dark-green py-2 px-5 flex justify-center items-center text-light-green uppercase font-semibold rounded-[10px];
    }

    .solid-button-tall {
        @apply bg-light-green py-[18px] px-5 flex justify-center items-center text-dark-green uppercase font-semibold rounded-[10px];
    }
}
